*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body, .container, .scroller {
	height: 100%;
}

.scroller {
	overflow-y: scroll;
}

.scroller,
.scroller-inner {
	position: relative;
}

.container {
	position: relative;
	overflow: hidden;
}

.push-pusher {
	position: relative;
	left: 0;
	height: 100%;
	perspective: 1000px;
}

.push-menu {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 300px;
	height: 100%;
	-webkit-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
}

.push-level {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #f8f8f8;
	-webkit-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
}

/* overlays for pusher and for level that gets covered */
.push-pusher::after,
.push-level::after,
.push-level::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	height: 0;
	opacity: 0;
}

.push-pusher::after,
.push-level::after {
	background: rgba(0,0,0,0.3);
	-webkit-transition: opacity 0.3s, width 0.1s 0.3s, height 0.1s 0.3s;
	transition: opacity 0.3s, width 0.1s 0.3s, height 0.1s 0.3s;
}

.push-level::after {
	z-index: -1;
}

.push-pusher.push-pushed::after,
.push-level.push-level-overlay::after {
	width: 100%;
	height: 100%;
	opacity: 1;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.push-level.push-level-overlay {
	cursor: pointer;
}

.push-level.push-level-overlay.push-level::before {
	width: 100%;
	height: 100%;
	background: transparent;
	opacity: 1;
}

.push-pusher,
.push-level {
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

/* overlap */
.push-overlap .push-level.push-level-open {
	box-shadow: 1px 0 2px rgba(0,0,0,0.2);
	-webkit-transform: translate3d(-40px, 0, 0);
	transform: translate3d(-40px, 0, 0);
}

/* First level */
.push-menu > .push-level,
.push-menu > .push-level.push-level-open,
.push-menu.push-overlap > .push-level,
.push-menu.push-overlap > .push-level.push-level-open {
	box-shadow: none;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

/* cover */
.push-cover .push-level.push-level-open {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.push-cover .push-level.push-level-open > ul > li > .push-level:not(.push-level-open) {
	-webkit-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
}

/* content style */
.push-menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.push-menu h2 {
	margin: 0;
	padding: 1em;
	color: rgba(0,0,0,0.4);
	text-shadow: 0 0 1px rgba(0,0,0,0.1);
	font-weight: 300;
	font-size: 2em;
}

.push-menu.push-overlap h2::before {
	position: absolute;
	top: 0;
	right: 0;
	margin-right: 8px;
	font-size: 75%;
	line-height: 1.8;
	opacity: 0;
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
	-webkit-transition: opacity 0.3s, -webkit-transform 0.1s 0.3s;
	transition: opacity 0.3s, transform 0.1s 0.3s;
}

.push-menu.push-cover h2 {
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	font-size: 1em;
}

.push-overlap .push-level.push-level-overlay > h2::before {
	opacity: 1;
	-webkit-transform: translateX(0);
	transform: translateX(0);
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
}

.push-menu ul li > a {
	display: block;
	padding: 0.7em 1em 0.7em 1.8em;
	outline: none;
	box-shadow: inset 0 -1px rgba(0,0,0,0.2);
	text-shadow: 0 0 1px rgba(255,255,255,0.1);
	font-size: 1.4em;
	-webkit-transition: background 0.3s, box-shadow 0.3s;
	transition: background 0.3s, box-shadow 0.3s;
}

.push-menu ul li::before {
	position: absolute;
	left: 10px;
	z-index: -1;
	color: rgba(0,0,0,0.2);
	line-height: 3.5;
}

.push-level > ul > li:first-child > a {
	box-shadow: inset 0 -1px rgba(0,0,0,0.2), inset 0 1px rgba(0,0,0,0.2);
}

.push-menu ul li a:hover,
.push-level > ul > li:first-child > a:hover {
	background: rgba(0,0,0,0.2);
	box-shadow: inset 0 -1px rgba(0,0,0,0);
}

.push-menu .push-level.push-level-overlay > ul > li > a,
.push-level.push-level-overlay > ul > li:first-child > a {
	box-shadow: inset 0 -1px rgba(0,0,0,0);
}

.push-level > ul > li:first-child > a:hover,
.push-level.push-level-overlay > ul > li:first-child > a {
	box-shadow: inset 0 -1px rgba(0,0,0,0), inset 0 1px rgba(0,0,0,0);
} /* seems like Chrome 34.0.1847.131 needs the second shadow otherwise the transition breaks */

.push-back {
	position: relative;
	display: block;
	padding: 1em;
	outline: none;
	background: rgba(0,0,0,0.1);
	box-shadow: inset 0 1px rgba(0,0,0,0.1);
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	font-size: 0.8em;
	-webkit-transition: background 0.3s;
	transition: background 0.3s;
}

.push-back::after {
	content: "\f04b";
	position: absolute;
	right: 10px;
	color: rgba(0,0,0,0.3);
	font-size: 0.8em;
	font-family: 'FontAwesome';
}

.push-menu .push-level.push-level-overlay > .push-back,
.push-menu .push-level.push-level-overlay > .push-back::after {
	background: transparent;
	box-shadow: none;
	color: transparent;
}

/* Fallback exapushle for browsers that don't support 3D transforms (and no JS fallback) */
/* We'll show the first level only */
.no-csstransforms3d .push-pusher,
.no-js .push-pusher {
	padding-left: 300px;
}

.no-csstransforms3d .push-menu .push-level,
.no-js .push-menu .push-level {
	display: none;
}

.no-csstransforms3d .push-menu > .push-level,
.no-js .push-menu > .push-level {
	display: block;
}